{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% if  not app.user  %}

<div class="dropdown-divider"></div>
<div class="container col-8">
    {% if message is defined %}
    
    <div class="alert alert-info alert-dismissible text-center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ message }}</strong> .
    </div>
    {% endif %}
    <div class="btn btn-dark col-12 text-left">
    <h1 class="text-success text-center">Inscription</h1>
    
    {{ form_start(registrationForm) }}
    <div class="form-group">
        {{ form_row(registrationForm.nom, {'attr':{'class':'form-control'}}) }}
        {{ form_row(registrationForm.prenom, {'attr':{'class':'form-control'}}) }}
        {{ form_row(registrationForm.tel, {'label':'N° Téléphone','attr':{'class':'form-control'}}) }}
        {{ form_row(registrationForm.email, {'label':'Votre email','attr':{'class':'form-control'}}) }}
        {{ form_row(registrationForm.plainPassword, {'label':'Votre mot de passe','attr':{'class':'form-control'}}) }}
        {{ form_row(registrationForm.confirm_password, {'label':'Confirmez le mot de passe','attr':{'class':'form-control'}}) }}
        {{ form_row(registrationForm.adresse, {'attr':{'class':'form-control'}}) }}
        {{ form_row(registrationForm.ville, {'attr':{'class':'form-control'}}) }}
        {{ form_row(registrationForm.pays, {'attr':{'class':'form-control'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_row(registrationForm.agreeTerms, {'label':'Acceptez les conditions !'}) }}
    </div>
        <input type="hidden" id="recaptcha_response" name="recaptcha_response">
        <button class="btn btn-success">S'inscrire</button>

    {{ form_end(registrationForm) }}

{% else %}
    <script>
       window.location.assign("/")
    </script>
    
{% endif %}
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js?render=6LcbuN8UAAAAAFJRY_VeZdGttxY8UfFcRkPTb4VN"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LcbuN8UAAAAAFJRY_VeZdGttxY8UfFcRkPTb4VN', { action: 'homepage' }).then(function (token) {
                let recaptcha_response = document.getElementById('recaptcha_response')
                recaptcha_response.value = token
            });
        });
    </script>
{% endblock %}


