{% extends 'base.html.twig' %}

{% block title %}Mes Commandes{% endblock %}


{% block body %}

    <div class="container">
    <h1 class="text-success text-center">Vos commandes</h1>
    {% for commandes in mesCommandes %}
        <table class="table  table-striped">
            <thead class="table-dark ">
                <tr style="cursor: pointer;"  >
                    <th class="th2 " >N° Commande: <span class="text-success">{{ commandes[0].commande.id }}</span> </th>
                    <th class="th1 text-right" scope="col">Date de Commande: </th>
                    <th class="th1"><span class="text-success">{{ commandes[0].commande.createdAt | date("d/m/Y") }}</span></th>
                    <th scope="col" class="th1"><img src="assets/img/down1.png" alt="" width="30" title="click"></span>
                </tr>
                <tr class="trtd text-warning">
                    <th class="border-dark th2 " scope="col">désignation</th>
                    <th class="border-dark th1" scope="col">quantité</th>
                    <th class="border-dark th1" scope="col">Prix Unitaire </th>
                    <th class="border-dark th1" scope="col">Montant</th>
                    <!-- <th class="border-dark th1" scope="col"><img src="assets/img/down1.png" alt="" width="30" title="click"></span> -->
                    </th>
                </tr>
            </thead>
            {% set total = 0 %}
            {% set i = 0 %}
            {% for item in commandes %}
                {% set i = i + 1 %}
                <tr class="trtd text-white">

                    <td>{{ item.produit.designation }}</td>
                    <td>{{ item.qte }}</td>
                    <td >{{ item.prix }}</td>
                    <td colspan="2">{{ item.prix * item.qte }}€</td>
                </tr>
                {% set total = total + item.prix * item.qte %}
            {% endfor %} 
            <tr class="trtd">
                <td><a href="{{ path('printCommande',{'id':commandes[0].commande.id}) }}" class="badge badge-secondary" target="blank"><img style="width: 15%;" src="assets/img/print.png" alt=""></a></td>
                <td colspan="2" class="text-right font-weight-bold text-danger ">TOTAL</td>
                <td colspan="1" class="font-weight-bold text-danger">{{ total }}€</td>
            </tr>
    {% endfor %}
        </table>
    </div>
    
{% endblock %}

