

{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

<div class="container col-12">
{% if app.user %}
    {% for n in app.session.get('no') %}
    <p class="text-danger">Vous avez {{ n.1 }} article(s) dans le panier</p>
    {% endfor %}
{% endif %}

{# {{ dump(app.session.get('no')) }} #}

    {# {% if app.user %}
        {% for co in count %}
        <p class="text-danger">Vous avez {{ co.1 }} article(s) dans le panier</p>
        {% endfor %}
    {% endif %} #}
    <div class="row"> 
        
        {# show all product #}
{% for produit in produits %}
    
    <div class="col-sm-3"  style="margin-bottom:10px">
        <div class="card r  border-dark ">
            <div class="card-body "> 
                <img class="d-block w-50" style="margin: auto" src="{{ asset(produit.photo) }}" alt="Third slide">
                <h6 class="card-title" style='text-align:center'>{{ produit.designation | upper }}</h6>
                <h5 class="card-title" style='text-align:center'>Prix {{ produit.prix }} €</h5>

                {% if app.user %}
                <form action="{{ path('addPanier',{'id':produit.id}) }}" method="POST">
                    <div style="display:flex; justify-content:space-between; align-items:center;">
                
                        <input type="hidden" name="id_produit" value="{{ produit.id }}">
                        <input type="number" min=1 value="1" class="col-4" name="qte">
                        <button type="submit" name='add_panier' class="btn btn-success" title="Ajouter au panier"><i
                                class="fas fa-shopping-cart"></i></button>
                    </div>
                </form>
                
                {% endif %}
                    <div>
                        <a href="{{ path('detail',{'id':produit.id}) }}">plus d'info...</a>  
                    </div>
            </div>       
        </div>
    </div>
    {% endfor %}

    </div>
</div>

{% endblock %} 
