

{% extends 'base.html.twig' %}


{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

<div class="container col-10 ">

    <div class="row "> 
        
        {# show all product #}
{% for produit in produits %}
    
    <div class="col-12 col-md-6 col-lg-4  "  style="margin-bottom:10px" data-aos="zoom-in">
        <div class="card border-dark " >
            <div class="card-body  " > 
                <img class="d-block w-50" style="margin: auto" src="{{ asset(produit.photo) }}" alt="Third slide">
                <h6 class="card-title" style='text-align:center'>{{ produit.designation | upper }}</h6>
                <h5 class="card-title" style='text-align:center'>Prix {{ produit.prix }} €</h5>

                
                {# <form action="{{ path('addPanier',{'id':produit.id}) }}" method="POST" class="formAjoutPanier"> #}
                    {# <div style="display:flex; justify-content:space-between; align-items:center;">
                        <input type="number" min=1 value="1" class="col-4 qte" name="qte" id="qte"> #}
                        {# <button type="submit" name='add_panier' class="btn btn-success ap" title="Ajouter au panier"><i
                                class="fas fa-shopping-cart"></i></button> #}
                    {# </div>
                </form> #}
               
                <div>
                    {% if app.user %}
                    <a href="{{ path('addPanier',{'id':produit.id}) }}" class="btn btn-success ap"><i class="fas fa-shopping-cart"></i></a>
                    {% endif %}
                        <a href="{{ path('detail',{'id':produit.id}) }}" class="btn btn-primary">plus d'info...</a>  
                    </div>          
            </div>            
        </div>
    </div>


    
    {% endfor %}

    </div>
</div>



{% endblock %} 
{% block javascripts %}

{% endblock %}
