{% extends 'base.html.twig' %}

{% block title %}Détail du produit!{% endblock %}

{% block body %}

<div class="dropdown-divider"></div>
<div class="col-sm-6" style="margin:auto">
    <div class="card " data-aos="zoom-in">
        <div class="card-body btn btn-dark">
            <img class="d-block w-50 badge badge-info" style="margin: auto" src="{{ asset(produit.photo) }}" alt="Third slide">
            <h6 class="card-title" style='text-align:center'>{{ produit.designation }}</h6>
            <h5 class="card-title" style='text-align:center'>{{ produit.prix }} €</h5> 
                
                <div class="dropdown-divider"></div>
                <p>Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire 
                    pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est 
                    prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, 
                    le Lorem ipsum ou LipsumLe lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire 
                    pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est 
                    prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, 
                    le Lorem ipsum ou Lipsum</p>       
                    
                    <div class="p-2">
                        {% if app.user %}
                        <a href="{{ path('addPanier',{'id':produit.id}) }}" class="btn btn-success ap"><i class="fas fa-shopping-cart"></i></a>
                        {% endif %}
                        <a class="btn btn-info col-4 " href="{{ path('accueil') }}">Retour à la page d'Accueil</a>
                    </div>
        </div>
            </form>

    </div>
    
</div>
<div class="dropdown-divider"></div>

{% endblock %} 