{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container">
        {% if message is defined %}
        
        <div class="alert alert-info alert-dismissible text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{ message }}</strong> .
        </div>
        {% endif %}
        <div class="row d-flex align-items-center btn btn-dark text-left"> 
            <div class="col-xs-12 col-sm-4 ">
                <div class="contact-rich">
                    <h4>INFORMATIONS</h4>
                    <div class="d-flex align-items-start">
                        <div class="icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="data" style="margin-left: 10px;">
                            <p><a href="#" class="text-warning">www.rhumasug.com</a> </p> 
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex align-items-start">
                        <div class="icon">
                            <i class="fas fa-phone-alt"></i>
                        </div>
                        <div class="data" style="margin-left: 10px;">
                            <p>Appelez-nous<br>0013434433223</p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-column col-xs-12 col-sm-8 col-md-8">
                <h1 class="text-success text-center">Nous contacter</h1>
                {{ form_start(formContact,{'attr':{'class':'form-group'}}) }}
                {{ form_row(formContact.nom,{'attr':{'class':'form-control'}}) }}
                {{ form_row(formContact.prenom,{'attr':{'class':'form-control'}}) }}
                {{ form_row(formContact.email,{'attr':{'class':'form-control'}}) }}
                {{ form_row(formContact.message,{'name':'message','attr':{'class':'form-control'}}) }}
                {# <div id="recaptcha" class="g-recaptcha" data-sitekey="6LcbuN8UAAAAAFJRY_VeZdGttxY8UfFcRkPTb4VN"></div> #}
                {# input qui va stocker la réponse retournée par la requette ajax #}
                <input type="hidden" id="recaptcha_response" name="recaptcha_response">
                <div class="dropdown-divider"></div>
                {# <div class="g-recaptcha" data-callback="imNotARobot" data-sitekey="6LciJuAUAAAAAL5OnOmGJCK1FU1SpfsuyHMqw8fy"></div> #}
                <button type="submit" class="btn btn-success" id="btn-validate" >ENVOYER</button>
                {{ form_end(formContact) }}
                <br>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js?render=6LcbuN8UAAAAAFJRY_VeZdGttxY8UfFcRkPTb4VN"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LcbuN8UAAAAAFJRY_VeZdGttxY8UfFcRkPTb4VN', { action: 'homepage' }).then(function (token) {
                let recaptcha_response=document.getElementById('recaptcha_response')
                recaptcha_response.value=token
            });
        });
    </script>
{% endblock %}
